// src/styles/_base.scss
$white: #f8f8f8;
$grey-background: #F2F2F4;
$black-text: #1c1c1c;
$orange: #FF4B3E;
$darkorange: #fc2f20;
$grey-text: rgb(103, 103, 103);
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px para cálculos fáciles
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; // Cambia esto si usas otra fuente
  line-height: 1.6;
  background-color: $grey-background;
}

.container {
  display: block;
  max-width: 130rem; // Máximo ancho
  width: 100%; // Para que se ajuste al 100% en pantallas más pequeñas
  margin: 0 auto 14.5rem auto; // Centrado horizontal
  padding: 0 2rem; // Padding interno

  @media screen and (max-with: 768px){
    max-width: 60rem; // Máximo ancho
  }
  @media screen and (max-width: 992px){
    margin: 0 auto 5rem auto;
    max-width: 80rem; // Máximo ancho
  }
}

h1,h2,h3,h4,h5,h6,p,span,a,ul,li{
  margin: 0;
  padding: 0;
  color: $black-text; 
}

h1{
  font-size:  7rem;
  line-height: 7.2rem;
  font-weight: 700;
  @media screen and (max-width: 992px){
    font-size:  4.5rem;
    line-height: 4.9rem;
  }
}

.subtitle{
  font-size: 2.8rem;
  line-height: 3.4rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

P{
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

a{
  cursor: pointer;
}

.btn-orange-sm {
  font-size: 1.4rem;
  background-color: $orange;
  color: #fff;
  padding: .75rem 1.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    background-color: $darkorange;
  }
}

.btn-orange {
  font-size: 1.6rem;
  background-color: $orange;
  margin-bottom: 2rem; 
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    background-color: $darkorange;
  }
}